<div>
    <ngx-graph [center$]="center$" class="chart-container" [view]="[300,300]" [zoomToFit$]="zoomToFit$" [links]="[
    {
      id: 'a',
      source: 'first',
      target: 'second',
      label: 'is parent of'
    }, {
      id: 'b',
      source: 'first',
      target: 'third',
      label: 'custom label'
    }, {
      id: 'd',
      source: 'first',
      target: 'forth',
      label: 'custom label'
    }
  ]" [nodes]="[
    {
      id: 'first',
      label: 'IT'
    }, {
      id: 'second',
      label: 'Person'
    }, {
      id: 'third',
      label: 'Plan'
    }, {
      id: 'forth',
      label: 'Money'
    },
  ]" layout="dagre">
            <ng-template #defsTemplate>
                <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
                    <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
                </svg:marker>
            </ng-template>

            <ng-template #nodeTemplate let-node>
                <svg:g class="node" (click)="nodeClick(node)">
                    <svg:rect [attr.width]="node.dimension.width" [attr.height]="node.dimension.height" [attr.fill]="node.data.color" />
                    <svg:text alignment-baseline="central" [attr.x]="10" [attr.y]="node.dimension.height / 2">
                        {{node.label}}
                    </svg:text>
                </svg:g>
            </ng-template>

            <ng-template #linkTemplate let-link>
                <svg:g class="edge">
                    <svg:path class="line" stroke-width="2"></svg:path>
                    <svg:text class="edge-label" text-anchor="middle">
                    </svg:text>
                </svg:g>
            </ng-template>
        </ngx-graph>
</div>